
body{
	background-image: url(../img/20220221215058.jpg); 
	background-repeat : no-repeat;
	background-size: 100% 100%;
}
ul{
	margin-block-start: 0em;
	    margin-block-end: 0em;
		    padding-inline-start: 0px;
			padding-top: 30px;
}
li{
	list-style-type:none
}
.dov_cont{
	width: 1200px;
	height: 900px;
	margin: 0 auto;
	position: relative;
}

.form_div{
	position: absolute;
	top: 18%;
	left: 29%;
	right: 0;
	bottom: 0;
	width: 500px;
	height: 490px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-radius: 5px;
	color: #999;
	font-size: 14px;
	    line-height: 16px;
		cursor: text;
		text-align: left;
		padding: 10px 20px;
		opacity:0.8;
		overflow: hidden;
		
		
}
.form_div .div_h1{
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 600;
	letter-spacing:1px;
	color: #000;
}
.form_div li{
	padding-bottom: 15px
}
 .input_form{
	font-size: 14px;
	    height: 45px;
	    width: 100%;
	    display: inline-block;
	    border: 1px solid #e5e5e5;
	    color: #333;
	    vertical-align: middle;
	    padding-left: 13px;
	    box-sizing: border-box;
	    appearance: none;
	    border-radius: 0;
}
.p10{
	  font-size: 12px;
	    line-height: 1.5;
	    margin-top: 5px;
	    color: #999;
	    vertical-align: middle;
	    text-align: left;
	    transition: max-height .5s ease-in-out;
	    max-height: 100px;
	    overflow: hidden;
		display: none;
		text-align: left; 
		color: rgb(225, 80, 74);
		 font-size: 14px;
		 padding-left: 10px;
}
.btns{
	width: 100%;
	    height: 45px;
	    border: none;
	    margin-bottom: 20px;
	    font-size: 18px;
		background-color: #00a4ff;
		    border: none;
		    color: #fff;
		    outline: 0;
			margin-top: 27px;
			letter-spacing:1px;
			cursor: pointer;
			display: block;
			line-height: 45px;
			text-align: center;
}

.btns:hover{
	background-color: #0097ee;
}